@font-face {
  font-family: "Formula1-Regular";
  src: url("./assets/fonts/Formula1-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formula1-Bold";
  src: url("./assets/fonts/Formula1-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Formula1-Wide";
  src: url("./assets/fonts/Formula1-Wide.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Protipo-Icons";
  src: url("./assets/fonts/TypeTogether-Protipo-Icons.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
